<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>用户列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <div class="btn-group" role="group" aria-label="..." style="margin-left:1190px" navbar-static-top >
        <empty name="username">
            <button type="button" class="btn btn-default"><a href="__MODULE__/User/login"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><strong>登录</strong></button>
            <button type="button" class="btn btn-default" ><a href="__MODULE__/User/regisiter"><strong>注册</strong></button>

            <else/>
            <div style='float:left' ><strong>欢迎你：{$username}||<a href='__MODULE__/User/logout'>退出</strong></a></div>
        </empty>

    </div>
    <br><br>
    <ul class="nav nav-pills nav-justified navbar-static-top">
        <li role="presentation" class=""><a href="__MODULE__/Index/index2"><strong>首页</strong></a></li>
        <li role="presentation" class="active"><a href="__MODULE__/Tie/uploadTie"><strong>共享信息上传</strong></a></li>
        <li role="presentation" class="active"><a href="__MODULE__/Tie/download"><strong>浏览共享信息</strong></a></li>

        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <strong>用户中心</strong> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation" ><a href="__MODULE__/User/touxiang">设置头像<span class="glyphicon glyphicon-off" aria-hidden="true"></a></li>
                <li role="presentation" ><a href="__MODULE__/User/changeupsw">账号管理<span class="glyphicon glyphicon-cog" aria-hidden="true"></a></li>
                <li role="presentation" ><a href="__MODULE__/User/grade">积分中心<span class="glyphicon glyphicon-usd" aria-hidden="true"></a></li>
                <li role="presentation" ><a href="__MODULE__/User/logout">用户注销<span class="glyphicon glyphicon-off" aria-hidden="true"></a></li>
            </ul>
        </li>
    </ul>
</head>
<body>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<br><br>
<table class="table table-bordered" >
    <!--<tr><td><h4>ID</h4></td><td><h4>用户名</h4></td><td><h4>积分</h4></td><td><h4>注册时间</h4></td><td><h4>操作</h4></td></tr>-->
</table>
<table class="table table-hover" style = margin-left:50px>
    <tr><td><h4>ID</h4></td><td><h4>用户名</h4></td><td><h4>积分</h4></td><td><h4>注册时间</h4></td><td><h4>操作</h4></td></tr>
    <volist name="list" id="vo">
        <!--<tr><td><h4>ID</h4></td><td><h4>用户名</h4></td><td><h4>积分</h4></td><td><h4>注册时间</h4></td><td><h4>操作</h4></td></tr>-->
        <tr><td><h4>{$vo.uid}</h4></td><td><h4>{$vo.uname}</h4></td><td><h4>{$vo.grade}</h4></td><td><h4>{$vo.time}</h4></td><td><h4><a href='__MODULE__/User/deluser/id/{$vo.uid}'>删除|<a href='__MODULE__/User/rchangeuspw/id/{$vo.uid}'id="change">修改密码</strong></a></h4></td></tr>
    </volist>
    <tr><td colspan="6" id="fenye">{$page}</td></tr>
</table>

</body>
<footer id="footer"style="margin-left:550px;" >
    <ul class="copyright">
        <li>&copy; Sharer：MJM249455501@qq.com</a></li>
    </ul>
</footer>
</html>